---
import Button from "../shared/Button.astro";
---

<section class="yellow-section">
  <div class="content">
    <h1>Looking for a co-pilot?</h1>
    <p>Schedule 20mins with a Aerospike Field Engineer</p>
    <Button variant="secondary" className="custom-button">Schedule Call</Button>
  </div>
</section>

<style>
  .yellow-section {
    background: #F8F413;
    padding: 250px 0;
  }
  .content {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
  }
  :global(.custom-button) {
    background-color: #000000 !important;
    color: #ffffff !important;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
</style>
