---
const { description, title, imgSrc } = Astro.props;
---

<div class="card">
  <div class="image">
    <img src={imgSrc} alt={title} />
  </div>
  <div class="texts">
    <h3 class="title">{title}</h3>
    <p>{description}</p>
  </div>
</div>

<style>
  .card {
    background: var(--color-accent);
    border-radius: 20px;
    padding: 50px 30px;
  }
  .texts {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 40px;
  }

  .title {
    font-size: 18px;
    font-weight: 400;
  }
  p {
    font-size: 14px;
    color: var(--color-muted-foreground);
    margin-top: 10px;
  }
</style>
