---
const { description, title, imgSrc } = Astro.props;
---

<div class="trust-card">
  <div class="card-image"><img src={imgSrc} alt={title} /></div>
  <div class="texts">
    <h4>
      {title}
    </h4>
    <p>
      {description}
    </p>
  </div>
</div>

<style>
  .trust-card {
    transition: transform 0.3s ease;
  }
  .card-image img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
  }
  .card-image {
    width: 100%;
    overflow: hidden;
  }

  h4 {
    font-size: 24px;
    font-weight: 500;
  }
  p {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-muted-foreground);
    line-height: 1.5;
  }
  .texts {
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-top: 30px;
  }

  @media (max-width: 768px) {
    h4 {
      font-size: 20px;
    }
    p {
      font-size: 13px;
    }
    .texts {
      margin-top: 20px;
      gap: 6px;
    }
  }
</style>
