---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/shared/Navbar.astro";
import Hero from "../components/sections/Hero.astro";
import AnimatedHero from "../components/sections/AnimatedHero.astro";
import StrongFoundations from "../components/sections/StrongFoundations.astro";
import Footer from "../components/sections/Footer.astro";
import WhyUs from "../components/sections/WhyUs.astro";
import CloudNavbar from "../components/shared/CloudNavbar.astro";
import Container from "../components/shared/Container.astro";
import YellowSection from "../components/sections/YellowSection.astro";
import Pricing from "../components/sections/Pricing.astro";
import Moduledetails from "../components/sections/Moduledetails.astro";
import SecurityCard from "../components/sections/SecurityCard.astro";
import TrustAndSecurity from "../components/sections/TrustAndSecurity.astro";
import TrustCard from "../components/sections/TrustCard.astro";
import FlipkartCase from "../components/sections/FlipkartCase.astro";
import OperationsExperience from "../components/sections/OperationsExperience.astro";
import TimeTovibe from "../components/sections/TimeTovibe.astro";

---

<Layout>
  <div class="scroll-snap-container">
    <Navbar />
    <Hero />
    <main class="main-content">
      <Container>
        <CloudNavbar />
        <StrongFoundations />
        <WhyUs />
        
        <FlipkartCase />
        <div class="solid-background-sections">
        
          <TrustAndSecurity />
          <Pricing />
        </div>
        
      </Container>
      <YellowSection />
      <Footer />
    </main>
  </div>
</Layout>

<style>
  .main-content {
    position: relative;
    z-index: 5; /* On top of Flipkart */
    background-color: white; /* Add solid background to prevent transparency */
  }
  
  .solid-background-sections {
    position: relative;
    z-index: 10; /* Even higher z-index */
    background-color: var(--color-background, #0D1117); /* Ensure solid background */
    width: 100%;
  }
</style>