<section>
  <div class="left-content">
    <h2>How pricing works</h2>
    <div></div>
  </div>
</section>

<style>
  section {
    background: linear-gradient(
      to bottom,
      var(--color-secondary),
      var(--color-black)
    );
  }
</style>
